.highlight {
  background-color: rgb(2, 113, 76);
}

.heading {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textColor{
  color: blue;
}

.cursor{
  cursor: pointer;
}